* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.contenedor {
  margin: 10% auto;
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", "Courier", sans-serif;
  color: #fff;
  background: linear-gradient(to top right, #43389f 0%, #4ec6ca 100%);
}
.numeros {
  position: relative;
  height: 100px;
  width: 200px;
  display: flex;
}
.uno {
  height: 100px;
  width: 24px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.uno::before {
  content: "";
  position: absolute;
  height: 40px;
  width: 25px;
  background-color: #fff;
  transform: rotate(50deg);
  border-radius: 3px;
  left: -18px;
  top: 2px;
}
.cero1,
.cero2 {
  position: absolute;
  z-index: 8;
  top: 0;
  left: 17px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 24px solid #fff;
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
}
.cero2 {
  z-index: 6;
  left: 100px;
}
h1 {
  font-size: 100px;
  font-weight: bold;
}
h4 {
  font-size: 90px;
}
